form span input{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(242, 249, 255);
    margin: 20px;
    text-align: center;
}

.wrapper{
    background-color: aliceblue;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    text-align: center;
}

#menu{
    background-color: #5BB318;
    color: #FFFFFF;
}

#boton{
    background-color: #EAE509;
    color: #FFFFFF;
}