<!-- Cards de MUESTRA de los Productos -->
<div class="row">
    <h1 class="titulo">
        Básicos Limón
        <img src="/assets/img/icono.png" alt="" width="80px">
    </h1>
    <h2 class="titulo2">
        Indumentaria para toda la familia
    </h2>
    <p-card class="card" *ngFor="let col of coleccionProductos">
        <ng-template pTemplate="header">
            <img alt="Card" [src]="col.imagen" height="300px">
            <h1>{{col.nombre}}</h1>
            <h3>{{col.marca}}</h3>
            <h4>${{col.precio}}</h4>
            <div class="boton">
                <button id="boton" pButton class="p-button-success" label="Comprar"></button>
            </div>
        </ng-template>
        <div class="" style="text-align: center;">
        </div>
    </p-card>
</div>