*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    border: none;
    text-decoration: none;

    transition: .2s linear;
}

html{
    font-size: 32.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;

}

/* Tamaño y separación de las Cards */
.card{
    width: 21%;
    margin: 2%;
    height: 5%;
    display: inline-block;
}

.row{
    margin: 30px;
}

.row h1{
    padding-left: 18px;
    font-size: 40px;
}

.row h4:hover{
    color: #4a8f15;
}
.row h3{
    margin-top: 10px;
    font-size: 30px;
    padding-left: 20px;
}

.row h4{
    margin-top: 5px;
    font-size: 25px;
    padding-left: 20px;
}

.boton button{
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#boton{
    background-color: #5BB318;
    color: #FFFFFF;
}

.titulo{
    color: #2B7A0B;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo2{
    color: #5BB318;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}